# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

ArionWeb/bin/
ArionWeb/obj/
ArionWeb/ConsoleApplication/bin/
ArionWeb/ConsoleApplication/obj/
ArionWeb/DatabaseGenerator/bin/
ArionWeb/DatabaseGenerator/obj/
ArionWeb/MappingAndBinding/bin/
ArionWeb/MappingAndBinding/obj/
ArionWeb/Models/bin/
ArionWeb/Models/obj/
ArionWeb/Repositories/bin/
ArionWeb/Repositories/obj/
ArionWeb/Services/bin/
ArionWeb/Services/obj/